## 0x21e8.service
[Unit]
Description=RDDL Attestation Service
Documentation=https://rddl.io

[Service]
Restart=always
ExecStart=/home/rddl/.local/bin/poetry run uvicorn --log-level debug --reload x21e8.main:app --host 0.0.0.0
WorkingDirectory=/home/rddl/0x21e8
User=rddl
Group=rddl

[Install]
WantedBy=multi-user.target
