LQD_RPC_ENDPOINT_SCHEMA = "http"
LQD_RPC_PORT = 18886
LQD_RPC_USER = "the rpc user"
LQD_RPC_PASSWORD = "the rpc password"
LQD_RPC_ENDPOINT = "the rpc nodek"
PLNTMNT_ENDPOINT = "http://localhost:9984" 
WEB3STORAGE_TOKEN = "THE TOKEN"
