LQD_RPC_HOST_SCHEMA = "http"
LQD_RPC_PORT = 18891
LQD_RPC_USER = "user"
LQD_RPC_PASSWORD = "password"
LQD_RPC_HOST = "localhost"
PLNTMNT_ENDPOINT = "http://localhost:9984" 
WEB3STORAGE_TOKEN = "THE TOKEN"
