[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
bitcoin-utils = "*"
wallycore = "*"
paramiko = "*"
bitcoinrpc = "*"
pipfile = "*"
uvicorn = "*"
fastapi = "*"
mnemonic = "*"
planetmint-driver = "*"
cython = "*"

[dev-packages]

[requires]
python_version = "3.9"
