[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
TrezorCryptoTestRc = "*"
planetmint-driver = "==0.11.1"
planetmint-ipld = "*"
wallycore = "*"
mnemonic = "*"
fastapi = "*"
uvicorn = "*"


[dev-packages]

[requires]
python_version = "3.9"
